<html>
<head>
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <div>
        <form action="/user" method="post">
            <h2>Login</h2>
            <div class="input-field">
                <input type="text" name="username" id="username" placeholder="Entrer Username">
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password" placeholder="Entrer Password">
            </div>
            <input type="submit" value="connexion">
        </form>
        <form action="/compte/inscription" method="post">
            <input type="submit" value="inscription">
        </form>
            
    </div>
</body>
</html>