<html>
<head>
    <link rel="stylesheet" href="../../css/app.css">
</head>
<body>
    <div>
        <h2>Renseignez les informations suivante pour créer votre utilisateur</h2>
        <form action="/connexion" method="post">
            <div class="input-field">
                <input type="text" name="username" id="username" placeholder="Entrer Username" required>
            </div>
            <div class="input-field">
                <input type="text" name="nom" id="nom" placeholder="Entrer Nom" required>
            </div>
            <div class="input-field">
                <input type="text" name="prenom" id="prenom" placeholder="Entrer Prenom" required>
            </div>
            <div class="input-field">
                <input type="email" name="mail" id="mail" placeholder="Entrer un mail" required>
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password" placeholder="Entrer Password" required>
            </div>
            <input type="submit" value="s'inscrire">
        </form>
    </div>
</body>
</html>