<%- include('../partials/head'); %>

    <body>
        <%- include('../partials/header'); %>
            <p>Welcome User <a href='/logout'>click to logout</a></p>
    </body>
    <%- include('../partials/footer'); %>